* {
    box-sizing: border-box;
}


 a:link {
     /* Styles for unvisited links */
    color: #66319b;
  }
  
  /* 
  a:visited {
    Styles for visited links 
    color: purple;
  }
*/
/*
  a:hover {
    Styles for links on hover 
    color: #00ffdd;
  }
*/

body {
    margin: 0;
}

.image {
    border-radius: 7%;
    width: 20%;
    height: 20%;
    border: .25rem solid #4b4b4b;
    margin: .5rem;
}

.container {
    margin: 1rem;
    text-align: center
}

.nav {
    background-color: #2d1c3d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.site-title {
    font-size: 1.4rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav Button {
    color: white;
}

.nav Button.active {
    background-color: #c7a32c;
}

.nav Button:hover {
    background-color: #3e1f86;
}

.section_name {
    text-align: left;
    margin: 0rem;
    margin-bottom: .75rem;
    border: 0rem;
    padding: 0rem;
}
.section_title_h3_h4_h5 {
    text-align: left;
    margin: 0rem;
    border: 0rem;
    padding: 0rem;
}
.section_ul {
    margin: .75rem;
    margin-top: 0rem;
    border: 1rem;
    padding: .25rem;
    text-align: left;
    list-style-type: square;
    list-style-position: inside;
}
.section_li {
    text-align: left;
}
.imbedded_pdf{
    width: 100%;
    height: 600px;
}